.feiras_container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: line;
    justify-content: center;
}
.feiras_container_h1{
    margin-bottom: 0.5em;
}
.feiras_container_p{
    color:darkslategrey ;
}