.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    }

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
     margin-right: 20px;

}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.right img{
    margin: 10px;
    width: 800px;
    height: 400px;
}
.right h1{ 
    width: 100%;
    font-size: 1.5em;
    margin-bottom: .6em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}