.btn{
    background-color: rgb(0, 92, 20);
    color: #fff;
    padding:  4vh;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15vh ;
    height:2vh;
    border-radius: 20px;
    font-size: em;
    }
    .btn:hover{
    color: chartreuse;
    }

