.form{
    width: 150%;
    margin: 2em 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
}
.form div{
    margin: 15px;
    display: flex;
    flex-direction: row;
    width: 98%;
}

    
    
