.container{
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: left;
}

.container table{ 
    width: 80%;
    padding-left:  8vh;
   
}
.container table th, table td{
    padding: 2vh;
    text-align: left;
    border-bottom: 1px solid rgb(37, 75, 0) ;
}
.container button{
    border: none;
    width: 100%;
    display: flex; 
    margin-right: 2vh;
    align-items: center;
    justify-content: center;
}
